snippet html "HTML basic struct" b
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${1:`!p snip.rv = snip.basename.replace('-', ' ').capitalize()`}</title>
  </head>
  <body>
    ${0:body}
  </body>
</html>
endsnippet
