snippet cmt
// -----------------------------------------------------------------------------
//     - $1 -
// -----------------------------------------------------------------------------$0
endsnippet

snippet clg "console log" bwA
console.log('$1');
endsnippet

snippet expd "export default" bwA
export default $1;
endsnippet
